

<!--p *ngIf="true"> test!</p-->
<div mat-dialog>
<p mat-dialog-title>Edition pr&eacute;vision</p>


<div mat-dialog-content class="mat-typography">
  <!--Coucou flux: {{ fluxid }}-->
  <form class=”form-group” [formGroup]="previsionForm" (ngSubmit)="enregistre()">
    <table>
      <tr>
        <th>Mois</th>
        <th>Montant</th>
        <th>Propager</th>
      </tr>
      <tbody>
        <tr *ngFor="let ligne of data;let i=index">
          <!--td><input class="form-control" formControlName="mois" placeholder="Item name"></td-->
          <td>{{ ligne.mois }}</td>
          <td>
            <input id="montant-{{i}}" [(ngModel)]="ligne.montant" [ngModelOptions]="{standalone: true}">
          </td>
          
          <td>
            <button type="button" value="Propager" (click)="propagerMontant(i)">Propager</button>
          </td>
        </tr>
      </tbody>
    </table>
</form>

</div>
<div mat-dialog-actions align="end">
  <button class="mat-button mat-dialog-close" (click)="cancel()">Annuler</button>
  <button class="mat-raised-button btn-primary" (click)="enregistre()">Enregistrer</button>
</div>
</div>